<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>	Programación Visual </title>
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>

    <header id="header">
        <!-- Encabezado de la página -->
        <h1>Programación Visual</h1>
        <nav class="navegador">
            <!-- Menú de navegación -->
            <ul>
                <li class="li-element"><a class="ancla"  href="#primary">Inicio</a></li>
                <li	class="li-element"><a class="ancla"  href="#programa">Programa</a></li>
                <li	class="li-element"><a class="ancla"  href="#pie">Pie de pagina</a></li>
                <li	class="li-element"><a class="ancla"  href="#docentes">Docentes</a></li>
            </ul>
        </nav>
    </header>

    <main id="primary" class="principal">

		<section id="programa" class="seccion">
			<h2 class="subtitulo"> PROGRAMA DE LA MATERIA </h2>
			<h3 class="subtitulo"> Unidades </h3>
			<ul>
				<li class="li-element">Lenguaje Java</li>
				<li class="li-element">Introduccion a Spring Boot</li>
				<li class="li-element">Gestion de Dependencias y Versionamiento</li>
				<li	class="li-element">Spring Boot MVC</li>
				<li class="li-element">Clases de negocio</li>
				<li class="li-element">Manejo de formularios</li>
			</ul>
		</section>
		
		<section class="seccion">
			<h2 class="subtitulo"> UNIDAD ACTUAL </h2>
			<h3 class="subtitulo"> HTML5 </h3>
			<p class="texto-p">
				<b> Introducción </b>
				En este apartado aprenderemos los conceptos básicos de HTML5. Comenzaremos brindando un
				instructivo para usarlo desde STS. Luego se abordarán los conceptos básicos de HTML5, como la
				estructura válida de un documento HTML, qué elementos se pueden incluir dentro de otros
				elementos y cuáles no- Se discutirán el significado y la utilidad de las etiquetas semánticas
				HTML5, y se trabajarán ejemplos con etiquetas HTML5 esenciales.
			</p>	
			<p class="texto-p">	
				<b> Que es HTML? </b>
				Entonces, ¿qué es HTML? ¿Qué significa el término HTML y cómo se relaciona con la web? ¿Qué
				papel juega HTML en el desarrollo web? A medida que avancemos, obtendremos las respuestas
				a estas simples preguntas. Esto ayudará a tomar decisiones correctas de codificación en el
				futuro.
				
			</p>
		</section>
		
		<section id="docentes" class="seccion">
			<h2 class="subtitulo">DOCENTES A CARGO DE LA MATERIA</h2>
			<h3 class="subtitulo">HORARIOS</h2>
			<table>
			        <tr>
			            <th class="table-element" >-</th>
			            <th class="table-element" >Ariel Vega</th>
			            <th class="table-element" >Carolina Apaza</th>
			            <th class="table-element" >Juan Carlos Rodriguez</th>
			            <th class="table-element" >Gustavo Sosa</th>
						
			        </tr>
			        <tr>
			            <td class="table-element" >Horarios</td>
			            <td class="table-element" >Viernes de 8:30 hs a 9:30</td>
			            <td class="table-element" >Jueves de 17:00 a 18:00 hs</td>
			            <td class="table-element" >Miércoles  de 18:00 a 19:00 hs</td>
			            <td class="table-element" >Jueves de 20:00 a 21:00</td>
			        </tr>
			        <tr>
			            <td class="table-element" >Desempeño segun alumno:</td>
			            <td class="table-element" >7/10</td>
			            <td class="table-element" >100/10</td>
			            <td class="table-element" >no es mi comision </td>
			            <td class="table-element" >no es mi comision </td>
			        </tr>
			    </table>
		</section>

    </main>
	<aside class="extra"> 
		<h3 class="subtitulo">Noticias</h3>
		<img class="img-extra" src="../static/images/noticia.jpg" alt="Noticia">
		<a class="ancla-extra" href="">INFO DE SECCION</a>
		<p class="texto-p">
			Este espacio es para noticias de la materia, un apartado especial para hacer anuncios,
			avisar si hay algun problema con el dictado de la materia en su horario habitual, etc.
			De momento no hay información relevante para comunicar.
			Att: Los profesores.
			
		</p>
	</aside>
	<!-- Pie de pagina -->
	<footer id="pie">
			<h3 class="subtitulo">Información de contacto</h3>
			<p><b>Número de telefono: </b>+5493884767955</p>
			<p><b>Correo electronico: </b> alumnoProgramador23@fi.unju.edu.ar</p>
			<p><b>Instagram: </b> <a class="ancla-pie" href="https://www.instagram.com/"> Fi.unju.edu.ar.Instagram </a> </p>
			<p><b>Facebook: </b> <a class="ancla-pie" href="https://www.facebook.com/"> Fi.unju.edu.ar.Facebook </a> </p>
			<p><b>Linkedin: </b> <a class="ancla-pie" href="https://www.linkedin.com/"> Fi.unju.edu.ar.Linkedin </a> </p>
	</footer>

</body>

</html>
